body
{
    font-family:Arial;
    background-color:rgb(13, 174, 237);
    margin:0;
}

header{
        background-color:rgb(11, 210, 137);
        text-align:center;
        padding:15px;
    }
    .content{
        background-color:rgba(251, 255, 0, 0.812);
        margin:20px
        padding:15px;
        border-radius:5px
    }
    
        {
            #color:#003366;
        }
    
footer
    {
     background-color:pink;
     text-align:center;
     padding:10px;
    }
